.git
.gitignore
.next
.sst
node_modules
coverage
build
out
app
frontend
public
data
incoming

.env
.env.*
!.env.example

*.log
*.tsbuildinfo
.npm-cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.DS_Store
*.pem
~$*.xlsx


# sst
.sst