.git
.gitignore
.next
.sst
node_modules
coverage
build
out
data
incoming

.env
.env.*
!.env.example

*.log
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.DS_Store
*.pem
~$*.xlsx
