.git
.gitignore
.next
.next-static-build
.next-static-api-backup
.sst
node_modules
coverage
build
out
app
frontend
public
data
incoming
worker-runtime/node_modules
data/logs
data/outputs
data/screenshots
data/tmp
*.xlsx
!backend/src/workflows/claim-status/portals/availity/config/*.xlsx
cost-filter.json
aws-cost.json
aws-cost-report.xlsx

.env
.env.*
!.env.example

*.log
*.tsbuildinfo
.npm-cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.DS_Store
*.pem
~$*.xlsx


# sst
.sst
