PORTAL_AERIAL_LOGIN_URL=
PORTAL_AERIAL_USERNAME=
PORTAL_AERIAL_PASSWORD=

SHARED_MFA_MAILBOX=mfa_automation@opusbpo.com
SHARED_MFA_OWNER_MAILBOXES=
SHARED_MFA_PORTAL_SENDER_DOMAINS=
SHARED_MFA_PORTAL_SENDER_ADDRESSES=
SHARED_MFA_GRAPH_TOKEN=
SHARED_MFA_OTP_TEXT_PATH=
SHARED_MFA_OTP_TIMEOUT_MS=300000
SHARED_MFA_OTP_POLL_MS=5000

PORTAL_BLUE_SHIELD_ENV_PATH=
PORTAL_BLUE_SHIELD_MFA_MAILBOX=
PORTAL_BLUE_SHIELD_IUMG_MFA_OWNER_MAILBOXES=
PORTAL_BLUE_SHIELD_IPMG_MFA_OWNER_MAILBOXES=
PORTAL_BLUE_SHIELD_POSADA_MFA_OWNER_MAILBOXES=
PORTAL_BLUE_SHIELD_MFA_OWNER_MAILBOXES=
PORTAL_BLUE_SHIELD_OTP_SENDER_DOMAINS=blueshieldca.com
PORTAL_BLUE_SHIELD_OTP_SENDER_ADDRESSES=
PORTAL_BLUE_SHIELD_GRAPH_TOKEN=
PORTAL_BLUE_SHIELD_OTP_TEXT_PATH=
PORTAL_BLUE_SHIELD_OTP_TIMEOUT_MS=300000
PORTAL_BLUE_SHIELD_OTP_POLL_MS=5000
PORTAL_BLUE_SHIELD_USER_DATA_DIR=
PORTAL_BLUE_SHIELD_HEADLESS=false
